@tailwind base;
@tailwind components;
@tailwind utilities;
/* #app,
#gd,
#gd2,
#gd3 {
	background-image: url("./pics/gradiant.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
} */
